/* CSS file for the one column stacked layout */
.panel-col-onehundred {
  width: 100%;
}

.panel-header, .panel-top, .panel-footer {
  width: 100%;
}

/* Margins taken from the Panels module plugins */
.lastUnit .inside {
  margin: 0 0 1em .5em;
}
.firstUnit .inside {
  margin: 0 .5em 1em 0;
}
.unit .inside {
  margin: 0 .5em 1em .5em;
}
